h1, h2, p {
    font-family: heisei-maru-gothic-std, sans-serif;
}

.container {
    display: grid;
    width: 375px;
    grid-template-columns: 375px;
    grid-template-rows: 40px 160px auto 56px 246px;
    margin: 0 auto;
    gap: 30px 0
}

p {
    font-size: 12px;
    color: #483e3e;
    font-weight: w4;

}

.header {
    display: flex;
    justify-content: space-between;
}

.header h1 {
    margin-left: 10px;
    font-size: 20px;
    font-weight: w8;
    color: #81A238;
    padding-top: 19px;
}

.header ul li {
    margin-top: 20px;
}

.header ul {
    display: flex;
    list-style-type: none;
    width: 140px;
    justify-content: space-between;
    margin-right: 5px;
}

.TopPhoto img {
    width: 375px;

}

.main {
    display: grid;
}

.photo .mejiros {
    display: flex;
    justify-content: space-between;
}

.photo .mejiros img {
    width: 117px;
    height: 117px;
}

h2 {
    width: 300px;
    font-size: 22px;
    font-weight: w8;
    color: #6C4747;
    margin: 0 0 15px 20px;
}

.photo {
    margin-bottom: 20px;
}

.photo img {
    width: 375px;
    margin-bottom: 4px;
}


.main-text {
    width: 315px;
    margin: 0 auto;
}

.main-text .p1 {
    border: 1px solid #000;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 30px;
}

.main-text .button_back {
    width: 50px;
    border: 1px solid #000;
    text-align: center;
    margin-left: auto;
    margin-top: 10px;
    border-radius: 10px;
}

.sns {
    margin: 0 auto;
}

.sns .sns-icon {
    width: 282px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.footer {
    background-color: #aaa;
}

.footer .footer_title {
    color: #fff;
    margin: 10px 0 20px 40px;

}

.footer .footer_textbox {
    margin-left: 40px;
    display: flex;
    width: 550px;
    justify-content: space-between;
}

.footer .footer-text {
    width: 230px;
}